.window{
    position: absolute;
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    left: 38%;
    top: 30%;
    padding: 10px;
    color: #ffff;
    background-color: #112B3C;
    z-index: 100;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 20;
}


.window h3{
    margin-top: -1px;
}

.window button{
    width: 100px;
    height: 25px;
    border: 0;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.window button:hover{
    cursor: pointer;
    font-weight: 900;
}